# Build outputs
/build/
/out/
/.cache/

# Visual Studio / MSBuild
/.vs/
*.user
*.suo
*.vcxproj*
*.filters
*.VC.db

# CLion / JetBrains
/.idea/

# macOS / Linux noise
.DS_Store

/build-wsl-clang-debug
/build-wsl-clang-release
/build-wsl-gcc-debug
/build-wsl-gcc-release
/prompts
